<div class='rounded-lg w-full min-h-screen h-auto bg-gray-400'>
<div *ngFor="let item of cardItem" class=" m-2 flex 
rounded overflow-hidden shadow-lg w-11/12 h-32 justify-around">
      <div><img class="w-32 h-32 object-contain" [src]="transform(item.item.image)"></div>
      <div class=" max-w-sm font-semibold text-black text-sm content-center">{{ item.item.title}}</div>
<div class='max-w-sm'>
          <input class="rounded-lg bg-black text-white w-15 h-10 p-3"
        type="number" min="0" [max]="item.item.stock"
        [placeholder]="item.quantity"
        [(ngModel)]="item.quantity"
         (change)="updateSubTotal()"
         id="quantity"
        ><label for="quantity">x ${{item.item.price.toFixed(2)}} = ${{item.subtotal.toFixed(2)}} </label>
  </div>
    </div>
    <div class='m-5 h-auto flex justify-between'>
      <form (ngSubmit)="confirmOrder(f)" #f="ngForm" >
        <label for="email">Send Receipt to:</label>
        <input
        class="rounded-lg bg-gray-200 text-gray-900 w-15 h-10 m-5 p-3"
        type="text"
        placeholder="example@gmail.com"
        id="checkoutEmail"
        name="checkoutEmail"
        ngModel
        >
        <div *ngIf="!f.valid">
          <span class='sml-txt-gray'>Please Enter a valid Email</span>
      </div>
        <button class="border-1 p-1 content-center rounded-sm text-center text-gray-900 transition duration-500 ease-in-out hover:bg-red-600 bg-white transform hover:-translate-y-0.5 hover:scale-110"
        type="submit"
        >
          CHECKOUT</button>
      </form>
      <span class='text-lg text-center text-gray-900 p-5'
      >TOTAL AMOUNT: ${{ total }}</span>
    </div>

  </div>